main{
    align-items: center;
    /* background-image: url("../images/wall.jpg"); */
    /* background-size:contain; */
    display:flex;
    flex-direction: column;
    width: 100%;
    
}

header {
    /* background:darksalmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px black;
    height: auto;
    width: 20%;
}

header p{
    text-align: center;
    margin: 10px 5%;
}

#sideBar {
    display:none;
}

nav {
    /* background:darkred; */
    display: flex;
    justify-content: center;
    width: 100%;
}

nav li{
    border-top: 2px solid black;
    border-bottom: none;
    display:flex;
    height: max-content;
    justify-content: center;
    padding: 10px 5px;
    width: 100vw;
}

nav li:last-child{
    border-bottom: 2px solid black;
}

header h1 {
    color: aqua;
}

#cardContainer {
    align-items: center;
    /* background:chocolate; */
    display:flex;
    flex-direction: column;
    width: 70vw;
}

.cardStack {
    /* background:cornflowerblue; */
    border: 2px solid rgb(161, 63, 148);
    display: flex;
    flex-direction: column;
    margin:15px 0 15px 0;
    /* max-height: 300px; */
    width: fit-content;
}

.card {
    align-items: center;
    /* background-size: cover; */
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    height: 400px;
    /* width: 80vw; */
}

.cardStack h3{
    background:whitesmoke;
    border: 2px solid crimson;
    height: 60px;
    position:absolute;
    top: 50;
    width: max-content;
}

.card p {
    border: 2px solid pink;
}

/* .cardContainer::after,
.cardContainer::before{
    content:"";
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left: 0;

}

#card1 img{ 
  height: 400px;
  width: auto;
  margin:-50px, 0, -50px, 0;
  padding: 0;   
  overflow: hidden; */
    
}





footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background:darkorange;
    width: 100vw;
}

@media screen and (min-width: 992px){
footer{
    background: salmon; 
    flex-direction: row;
    width: 100%;
    }
}

@media screen and (min-width: 1200px){
    
    
    header {
        align-items: flex-end;
        background:seagreen;
        flex-direction: row;
        width: 100%;
    }

    #aboutMe,
    header h3 {
        display: none;
    }
    
    nav {
        background:yellowgreen;
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: flex-end;
        /* align-content: flex-end; */
        
    }
    
    nav ul {
        align-items: flex-end;
        background:violet;
        display: flex;
    }
    nav li{
        background:wheat;
        border: 2px solid black;
        border-right:none;
        max-width: max-content;
    }
    
    #sideBar{
        background:springgreen;
        display:flex;
        flex: 0 0 20%;
        flex-direction: column;
        padding:20px 30px 0 20px;
    }

    #midContent {
        width: 100%;
        display:flex;
    }

    #cardContainer{
        flex: 0 0 80%;
        background:skyblue;
    }

    #card1 {
        width: 90%;
    }

    #card1 .card {
        margin: 20px;
    }
    
    .midContent{
        display: flex;
    }
}